<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>this is home page</title>
     <link rel="stylesheet"th:href="@{/css/style.css}"/>
<style>
body{
background-color: lightblue;
background-image: url("img/login-user.png");
background-repeat:no-repeat;
background-position:center top;
background-attachment:fixed;
background:linear-gradient(to right,red,blue);
}

</style>
<head>
<meta charset="ISO-8859-1">
<title>About Page</title>
</head>
<body>


</body>
</html>