<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>this is home page</title>
    <link rel="stylesheet"th:href="@{/css/style.css}"/>

</head>
<meta charset="ISO-8859-1">
<title>css</title>
</head>
<body>
<h1>welcome to css</h1>
<h1>hello</h1>
<h3 style="color:blue;font-style:italic;">my name is sandhya </h3>
<div  style="width: 400px;height: 200px; border: 10px dotted tomato;text-align:center;"><br>
 </div>
<h1 style="color:green;">first</h1>
<h1>second</h1>
<h1>third</h1>
<h1>fourth</h1>


</body>
</html>