<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Selector</title>
<style>
h1{
     font-style: italic;
}
.c1{
   color:red;
   text-align: center;
}
.p{
   color:green;
   text-align: center;
}
#test{
       color:blue;
}
.container{
   width: 100vw;
   height: 100vh;
   background:tomato;
   text-align: center;
   
   
}
.inside-container{
    margin:auto;
     width:50%;
     height:100%;
     
     background:blue;
}
</style>
</head>
<body>
  
     
    <!--  Box model  -->
    <div class= "container">
        <div class="inside-container">
        
        </div>
    </div>
   
</body>
</html>